/* BQN386 Font Face */
@font-face {
    font-family: 'BQN';
    src: url('BQN386.ttf') format('truetype');
}

/* Applying the BQN386 Font */
body, input, select, textarea, pre, code, kbd {
    font-family: 'BQN', monospace;
}

/* Basic styling for code elements */
code, pre {
    background-color: #e3e7e7;
    color: #292929;
    font-size: 0.94em;
}

pre {
    overflow-x: auto;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 3px 3px 3px #eee;
}

pre.src {
    position: relative;
    overflow: visible;
    margin: 0.4em 0;
    background-color: #e3e7e7;
    border: 1px solid #ccc;
    border-radius: 3px;
}

pre.src:before {
    display: none;
    position: absolute;
    top: -10px;
    right: 10px;
    padding: 3px;
    background-color: white;
    border: 1px solid black;
}

pre.src:hover:before { display: inline; margin-top: 14px; }

/* Ensure tighter spacing for pre and code elements */
pre, code {
    margin: 0;
    padding: 0;
}

/* Hyperlinks */
a:link, a:visited {
  color: #267CB9;
  text-decoration: none;
}
